@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333; /* Change the background color as needed */
  color: white; /* Change the text color as needed */
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}

.budgets{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fbe3e8;
}

.container {
  flex: 1;
  max-width: 1500px;
  max-height: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  /*border: 1px solid steelblue;*/
  padding: 30px;
  border-radius: 5px;
}

.container:first-child {
  flex: 0 0 60%;
}

.container:nth-child(2) {
  flex: 0 0 40%;
}

.header{
  display: flex;
  justify-content: space-between;
}

.headerTitle{
  margin-bottom: 20px;
  align-items: center;
}

.headerButtons {
  margin-bottom: 20px;
  align-items: right;
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
.income {
  background: lightgreen;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px; 
}
.expense {
  background: lightsalmon;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

.expense.reminder {
  border-left: 5px solid green;
}

.expense h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.income.reminder {
  border-left: 5px solid green;
}

.income h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}


.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.signupLink{
  text-align: center;
}

.expenseAmount{
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

.dueDate{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.lastRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.result{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

.selectBudget{
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}